.homecontainer{
    
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(../../assets/hero.jpg);
   
.text-1 p{
    margin: 0;
    position: absolute;
  top: 20%;
  left: 40%;
  -ms-transform: translate(-20%, -20%);
  transform: translate(-20%, -20%);
  font-size: 50px;
  color: white;
  
    

}
.buttons {
    
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  
}

}